@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*-------------------- VARIABLES CSS --------------------*/
:root {
  /*---------- COLORS ----------*/
  --header-height: 3.5rem;
  --hue: 40;
  --first-color: hsl(var(--hue), 55%, 55%);
  --first-color-light: hsl(var(--hue), 55%, 65%);
  --first-color-alt: hsl(var(--hue), 50%, 50%);
  --title-color: hsl(var(--hue), 40%, 16%);
  --text-color:  hsl(var(--hue), 20%, 80%);
  --text-color-light: hsl(var(--hue), 20%, 70%);
  --body-color: hsl(var(--hue), 30%, 95%);
  --container-color: hsl(var(--hue), 40%, 20%);

  /*---------- FONT ----------*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*---------- BOLD ----------*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*---------- Z INDEX ----------*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*-------------------- RESPONSIVE FONT --------------------*/
@media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 5.5rem;
      --big-font-size: 2.75rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1.125rem;
      --small-font-size: .875rem;
    }
  }
  
  /*-------------------- BASE --------------------*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body, input, textarea, button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body {
    background-color: var(--body-color);
    color: var(--text-color);
  }

  input, button, textarea {
    border: none;
    outline: none;
  }

  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold); 
  }

  p {
    line-height: 130%;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /*-------------------- CLASSES --------------------*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
  }

  .section {
    padding-block: 5rem 2rem;
  }

  .section_title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
  }

  .main {
    overflow: hidden;
  }
