@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*-------------------- VARIABLES CSS --------------------*/
:root {
  /*---------- COLORS ----------*/
  --header-height: 3.5rem;
  --hue: 40;
  --first-color: hsl(var(--hue), 55%, 55%);
  --first-color-light: hsl(var(--hue), 55%, 65%);
  --first-color-alt: hsl(var(--hue), 50%, 50%);
  --title-color: hsl(var(--hue), 40%, 16%);
  --text-color: hsl(30, 30%, 60%);
  --text-color-light: hsl(var(--hue), 20%, 70%);
  --body-color: hsl(var(--hue), 30%, 95%);
  --container-color: hsl(var(--hue), 40%, 20%);

  /*---------- FONT ----------*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*---------- BOLD ----------*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*---------- Z INDEX ----------*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*-------------------- RESPONSIVE FONT --------------------*/
@media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 5.5rem;
      --big-font-size: 2.75rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1.125rem;
      --small-font-size: .875rem;
    }
  }
  
  /*-------------------- BASE --------------------*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body, input, textarea, button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body {
    background-color: var(--body-color);
    color: var(--text-color);
  }

  input, button, textarea {
    border: none;
    outline: none;
  }

  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold); 
  }

  p {
    line-height: 130%;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /*-------------------- CLASSES --------------------*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
  }

  .section {
    padding-block: 5rem 2rem;
  }

  .section_title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
  }

  .main {
    overflow: hidden;
  }

  /*-------------------- HEADER --------------------*/
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
  }

  /*-------------------- NAV --------------------*/
  .nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    color: var(--title-color);
    font-weight: var(--font-bold);
  }

  .nav-toggle, .nav-close {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
  }

  /*-------------------- NAV (mobile) --------------------*/
  @media screen and (max-width: 1150px) {
    .nav-menu {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: hsla(30, 80%, 85%, 0.3);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      width: 80%;
      height: 100%;
      padding: 7rem 3rem;
      transition: right .4s;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .nav-link {
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
  }

  .nav-link::after {
    content:'';
    width: 100%;
    height: 2px;
    background-color: var(--first-color-light);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
  }

  .nav-link:hover {
    color: var(--first-color-light);
  }

  .nav-link:hover::after {
    width: 30%;
  }

  .nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  /* Open/Close Menu */
  .show-menu {
    right: 0;
  }

  /*-------------------- HOME --------------------*/
  .home-container {
    row-gap: 2rem;
    padding-top: 1rem;
  }

  .home-img {
    width: 220px;
    justify-self: center;
    border-radius: 30px;
    margin-top: -10px;
    padding-bottom: 10px;
  }

  .home-name {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    word-break: break-word;
    margin-bottom: 1rem;
  }

  .home-profession {
    position: relative;
    font-size: var(--big-font-size);
    color: var(--text-color);
  }

  .home-profession::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 25%;
    height: 3px;
    background-color: var(--text-color);
  }

  .home-scroll {
    color: var(--title-color);
    display: inline-flex;
    column-gap: .3rem;
    align-items: center;
    justify-self: center;
    margin-top: 3rem;
  }

  .home-scroll-text {
    font-weight: var(--font-semi-bold);
  }
